/* styles/Marquee.module.css */
@keyframes marqueeAnimationReverse {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.marqueeContainer {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.marqueeReverse {
  display: flex;
  animation: marqueeAnimationReverse 10s linear infinite;
}
