/* styles/Marquee.module.css */
@keyframes marqueeAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  animation: marqueeAnimation 10s linear infinite;
  animation-timing-function:  infinite; 
}